@import url('https://fonts.googleapis.com/css?family=Handlee');


body {
    background-color: black;
    font-family: 'Handlee', cursive;
}

.container{
    background-color: white;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 10%;
}

img {
    width: 47px;
    height: 47px;
    position: absolute;
    top: 25%; 
    right: 33.5%;
}

h1{
    padding-top: 30px;
    padding-left: 10px;
    
}

p{
   padding-left: 10px; 
}

.content-left , .content-right{
    width: 50%;
}

.content-right{
    float: right;
    margin-right:-57px;
    margin-top:-65px;
    border-image:none;
    
}


.form-container{
    position: relative;
    bottom: 90px;
    
}

::placeholder {
    font-family: 'Handlee', cursive;
}

button{
     position: absolute;
     text-align:center;
     right: 45%;
     background-color: #9096a0; 
}


.formInput{
    border-bottom: 1px solid black;
    border-left:none;
    border-right:none;
    border-top:none;
}     
  